.button {
    display: block;
    width: 25%;
    border: none;
    background-color: #04AA6D;
    padding: 15px 28px;
    font-size: 17px;
    font-style: oblique;
    color: azure;
    border-radius: 4px;
  }

h1{
  font-style: oblique;
  text-align: center
}

h1{
  
  margin: auto;

}

input,button{

margin: auto;
display: block;
padding: 0.8%;
width: 23%;

}